/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 600px;

// Small tablets (portrait view)
$screen-md-min: 825px;

// Tablets and small desktops
$screen-lg-min: 1010px;

// Large tablets and desktops
$screen-xl-min: 1400px;

// Colors
$white: #fff;
$black: #000;
$sunflower: #F8C832;
$charcoal: #222222;
